    - name: Sync Capacitor Android
      run: npx @capacitor/cli sync android

    - name: Make gradle wrapper executable
      working-directory: android
      run: chmod +x gradlew

    - name: Build Debug APK
      working-directory: android
      run: ./gradlew assembleDebug --no-daemon --stacktrace

    - name: Upload APK
      ...
